* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Roboto", sans-serif;
}

:root {
    --primary-color: #F1E8B8;
    --secondary-color: #E58F65;
    --accent: #F9E784;
    --primary-text-color: #191919;
    --secondary-text-color: #A83A3A;
}